NODE_ENV=development
PORT=5000
MONGO_URI=your_mongodb_connection_string
EXCHANGE_API_KEY=your_exchange_api_key

# Email verification
RESEND_API_KEY=your_resend_api_key
EMAIL_FROM=onboarding@resend.dev

CLIENT_URL=http://localhost:5173
